.jumbotron{
  text-align: center;
  /* text-decoration:  underline; */
  color: blue;
  border-radius: 10px;
}

.buttons{
  text-align: center;
}
p{
  text-align: center;
}
h1{
text-align:center;
text-decoration: underline;
color: blue;
}
/* img {
  position: center

} */
