.jumbotron{
  background-color: yellow;
  text-align: center;
  text-body:  underline;
  color: blue;
  border-radius:20 px;
}

.buttons{
  text-align: center;
}
p{
  text-align: center;
}
h1{
text-align:center;
text-decoration: underline;
}
/* img {
  position: center

} */
